numpy>=2.2.2
streamlit>=1.42.0
pandas>=2.2.3
plotly>=6.0.0
matplotlib>=3.10.0
rdkit>=2024.9.5
stmol>=0.0.9
scipy>=1.15.1
streamlit_ketcher>=0.0.1
ipython_genutils>=0.0.1
py3dmol>=2.4.2
chembl_structure_pipeline>=1.2.0
polars>=1.25.0